/*********************************
GENERAL
**********************************/

body {
  font-family: 'Oxygen', sans-serif;
}

.jumbotron {
  margin: 0 auto;
  padding: 5% 5%;
}

a {
    text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
}

h3 {
  margin: 0 0 1em 0;
}

/*********************************
HEADING
**********************************/
header {
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
}

#logo {
  text-align: center;
  margin: 0;
}

h1 {
  font-family: 'Oxygen', sans-serif;
  margin: 15px 0;
  font-size: 1.65em;
  font-weight: normal;
  line-height: 0.8em;
  text-shadow: 2px 2px #660000;
}

h2 {
  font-size: .75em;
  font-weight: normal;
  margin: -5px 0 0;
  text-shadow: 2px 2px #660000;
}

h3 {
  font-size: 1.15em;
  font-weight: bold;
  margin: 5px 0;
}

h4 {
  font-size: 1.15em;
  font-weight: normal;
  margin: 5px 0;
  padding: 0 0 0 10px;  
}
/*********************************
NAVIGATION
**********************************/
nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;  
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  font-weight: bold;
  padding: 15px 10px;
}

/*********************************
Wordlist
**********************************/
.container {
    width: 100%;
    height: 900px;
    margin: 0 auto;
    padding: 5% 0 0 0;
}

.iframe {
  width: 100%;
  height: 100%;  
  margin: 0px auto 30px;
}

/*********************************
STORIES
**********************************/
.contact-info {
  list-style: none;
  padding: 5px 0;
  margin: 0;
  font-size: 0.9em;
}

.contact-info li.phone a {
  background-image: url('../img/phone.png')
}

.contact-info li.mail a {
  background-image: url('../img/mail.png')
}

.contact-info a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

/*********************************
FOOTER
**********************************/
footer {
  font-size: .75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #ccc;
}

.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

/*********************************
COLORS
**********************************/

/* site body */

body {
  background-color: #fff;
  color: #000;
  background-image: url("icsnl.jpg");
}

/* red header */

header {
  background: #880000;
  border-color: #660000;
  box-shadow: 10px 10px 5px #888888;
}

/* nav background mobile*/
nav {
  background: #aa0000;
}

/* logo text */

h1, h2 {
  color: #fff;
}

h3 {
  color: #000;
}

/* links */

a {
  color: #550000;
}

/* visited nav link */

nav a, nav a:visited {
  color: #fff;
}

/* selected nav link */

nav a.selected, nav a:hover {
  color: #550000;
}







